<h1>Showing Post </h1>



<%= link_to favorite_text, favorites_update_path(post: @post), id:'favorite_lik', remote: true %>



<p><strong>Title: </strong><%= @post.title %></p>
<p><strong>Description: </strong><%= @post.description %></p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Delete', post_path(@post), data: { turbo_confirm: 'Are you sure?', turbo_method: :delete } %> |
<%= link_to 'Return to Post listing', posts_path%> 
</br>
</br>

<%= @post.likes.count %> Likes
<% like = current_user.likes.find_by(post: @post) %>
<% if like.nil? %>
<form action="/likes" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="hidden" name="like[post_id]" value="<%= @post.id %>">
<input type="submit" value="ðŸ‘">
</form>
<% else %>

<form action="<%= like_path(like) %>" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="hidden" name="_method" value="Delete">
<input type="submit" value="ðŸ‘Ž">
</form>
<% end %>

</br>


<section class="section comments">
    <div class="container">
        <h2 class="subtitle is-5"><strong><%= @post.comments.count %></strong> Comments</h2>
        <%= render @post.comments %>
        <div class="comment-form">
            <hr />
            <h3 class="subtitle is-3">Leave a reply</h3>
             <%= render 'comments/form' %>
        </div>
    </div>
</section>